
.user-image {
  width: 42px;
  height: 40px;
  border-radius: 50%;
}

.user-settings {
  display: flex;
  gap: 10px;
}

.icon-container{
  width: 42px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}


/* messages */

.contacts-messages{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.contacts-messages::-webkit-scrollbar {
  width: 6px;
}

.contacts-messages::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.contact-message-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 15px;
  align-items: center;
  position: relative;

}

.item-border-bottom {
  position: absolute;
  bottom: 0;
  left: 16.5%;
  width: calc(100% - 16.5%);
  height: 1px;
  background-color: #e6e6e6;
}

.user-message-container {
  display: flex;
  gap: 15px;
}

.contact-image{
  width: 50px;
  height: 47px;
  border-radius: 50%;
}

.user-message-info {
  display: flex;
  flex-direction: column;
}

.message-data{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: var(--font-gray);
}


/* 3 */

.mensages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #efeae2;
  background-image: url(./assets/chat-background.png);
}

.chat-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
  align-items: center;
  font-size: 15px;
}

.message-settings {
  display: flex;
  gap: 8px;
}

.chat-messages-area{
  padding-top: 10px;
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}

.chat-messages-area::-webkit-scrollbar {
  width: 6px;
}

.chat-messages-area::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.chat-input-area {
  width: 100%;
  height: 7%;
  display: flex;
  padding: 10px 12px 10px 15px;
  background-color: var(--light-gray);
  justify-content: center;
  align-items: center;
}

.chat-input {
  width: 95%;
  height: 100%;
  border: none;
  padding: 0 30px 0 15px;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.send-image{
  height: 23px;
  margin-left: 18px;
  cursor: pointer;
}

.last-message{
  display: flex;
  font-size: 14px;
  color: var(--font-gray);
  white-space: pre-wrap;
}

.my-user-message{
  background-color: #d9fdd3;
  padding: 8px 10px;
  border-radius: 5px;
  position: relative;
  overflow-wrap: break-word;
  max-width: 700px;
  border-radius: 8px;
}

.other-user-message{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow-wrap: break-word;
  max-width: 700px;
}

.message-tail{
  position: absolute;
}